<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ cityName }} - NextBikeOSM</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    {# TODO commit sortable.js to main branch and copy to output #}
    <script src="sorttable.js" integrity="sha256-n3657FhpVO0BrpRmnXeQho7yfKvMVBh0QcoYkQr2O8w="></script>
</head>
<style>
    .red {
        color: red;
    }

    .svg {
        width: 20px;
        height: 20px;
    }
</style>
<body>
    <i>Updated: {{ timestamp }}</i> <br/>
    <span>
        <a href="{{ mapLink }}">Map of Nextbike locations</a> where OpenStreetMap match has distance &gt; {{ distanceThreshold }} metres.
        <a href="{{ kmlLink }}">KML</a>
        <a href="{{ csvLink }}">CSV in SCEE format</a>
    </span>
    <table class="sortable">
        <thead>
            <tr>
                <th>NextBike uid</th>
                <th>OSM id (closest match)</th>
                <th>Distance (in meters)</th>
                <th>Name NB</th>
                <th>Name OSM</th>
                <th>Ref NB</th>
                <th>Ref OSM</th>
                <th>Stands NB</th>
                <th>Stands OSM</th>
                <th>Network</th>
                <th>Operator</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>
                    <a href="https://osm.org/?mlat={{ match.nextbike.lat }}&mlon={{ match.nextbike.lon }}#map=19/{{ match.nextbike.lat }}/{{ match.nextbike.lon }}">{{ match.nextbike.uid }}</a>
                    <a target="hiddenIframe" href="http://localhost:8111/load_and_zoom?top={{ match.nextbike.lat }}&bottom={{ match.nextbike.lat }}&left={{ match.nextbike.lon }}&right={{ match.nextbike.lon }}">
                        <img src="./josm.svg" class="svg" alt="josm">
                    </a>
                </td>
                <td>
                    <a href="https://osm.org/{{ match.osmType }}/{{ match.osm.id }}">{{ match.osm.id }}</a>
                    <a target="hiddenIframe" href="http://localhost:8111/load_object?objects={{ match.osmType[0] ~ match.osm.id }}">
                        <img src="./josm.svg" class="svg" alt="josm">
                    </a>
                </td>
                <td {% if match.distance>distanceThreshold %}class="red"{% endif %}> {% if match.match == 'id' %}<b>{% endif %}{{ match.distance }}{% if match.match == 'id' %}</b>{% endif %}
                </td>
                <td>
                    {{ match.nextbike.name }}
                </td>
                <td {% if match.ratio|float <= 0.8 %}class="red" {% endif %}>
                    {{ match.osm.tags.name|default("NONE") }}
                </td>
                <td>
                    {{ match.nextbike.num }}
                </td>
                <td {% if match.nextbike.num != match.osm.tags.ref %}class="red" {% endif %}>
                    {{ match.osm.tags.ref|default("NONE") }}
                </td>
                <td>
                    {{ match.nextbike.stands }}
                </td>
                <td {% if match.nextbike.stands != match.osm.tags.capacity %}class="red" {% endif %}>
                    {{ match.osm.tags.capacity|default("NONE") }}
                </td>
                <td {% if not match.osm.tags.network %}class="red" {% endif %}>
                    {{ match.osm.tags.network|default("NONE") }}
                </td>
                <td {% if not match.osm.tags.operator %}class="red" {% endif %}>
                    {{ match.osm.tags.operator|default("NONE") }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <i>Created using <a href="https://github.com/starsep/NextbikeOSM">starsep/NextbikeOSM</a> v{{VERSION}} (fork of <a href="https://github.com/javnik36/NextbikeOSM">javnik36/NextbikeOSM</a>)</i>
    <iframe style="display:none;" id="hiddenIframe" name="hiddenIframe"></iframe>
</body>
</html>
